body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -ms-grid;
  display: grid;
  margin: auto;
      grid-template-areas: "apie darbai" "kontaktai blogas";
  border-radius: 50%;
}

.menu div {
  width: 10em;
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu div div {
  width: 9em;
  height: 9em;
}

.menu div a {
  color: black;
  text-decoration: none;
}

.menu div a:hover {
  color: black;
}

.menu div a:visited {
  color: black;
}

.menu div a:active {
  color: black;
}

.apie {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: apie;
  justify-self: flex-end;
  position: relative;
  border-radius: 10em 0 0 0;
}

.apie .apie2 {
  display: none;
}

.apie1 {
  border: 2px solid black;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: apie;
  justify-self: flex-end;
  background-color: white;
  position: relative;
  border-radius: 10em 0.5em 0.5em 0.5em;
}

.apie1:hover {
  background-color: #bbbbbb;
  color: white;
}

.apie1 #apie {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  letter-spacing: 1px;
}

.portfolio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: darbai;
  position: relative;
  border-radius: 0 10em 0 0;
}

.portfolio .portfolio2 {
  display: none;
}

.portfolio #portfolio {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  letter-spacing: 1px;
  padding: 2em 1em;
  cursor: pointer;
}

.portfolio1 {
  border: 2px solid black;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: darbai;
  background-color: white;
  position: relative;
  border-radius: 0.5em 10em 0.5em 0.5em;
}

.portfolio1:hover {
  background-color: #bbbbbb;
  color: white;
}

.portfolio1 #portfolio {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  letter-spacing: 1px;
  padding: 2em 1em;
  cursor: pointer;
}

.kontaktai {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: kontaktai;
  justify-self: flex-end;
  position: relative;
  border-radius: 0 0 0 10em;
}

.kontaktai .kontaktai2 {
  display: none;
}

.kontaktai #kontaktai {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  letter-spacing: 2px;
}

.kontaktai1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: kontaktai;
  border: 2px solid black;
  justify-self: flex-end;
  background-color: white;
  position: relative;
  border-radius: 0.5em 0.5em 0.5em 10em;
}

.kontaktai1:hover {
  background-color: #bbbbbb;
  color: white;
}

.kontaktai1 #kontaktai {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  letter-spacing: 2px;
  padding: 2em 1em;
  cursor: pointer;
}

.ikvepimui {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: blogas;
  position: relative;
  border-radius: 0 0 10em 0;
}

.ikvepimui .ikvepimui2 {
  display: none;
}

.ikvepimui #ikvepimui {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  letter-spacing: 1px;
}

.ikvepimui1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: blogas;
  border: 2px solid black;
  background-color: white;
  position: relative;
  border-radius: 0.5em 0.5em 10em 0.5em;
}

.ikvepimui1:hover {
  background-color: #bbbbbb;
  color: white;
}

.ikvepimui1 #ikvepimui {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  letter-spacing: 1px;
  padding: 2em 1em;
  cursor: pointer;
}

.logo {
  width: 80%;
  position: absolute;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

.logo img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */