* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

html,
body {
  width: 100%;
  overflow: hidden;
}
.logo {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: 5vw;
  a {
    width: fit-content;
  }
  img {
    height: 13vw;
    display: flex;
    margin: auto;
  }
}

.header {
  width: 100%;
  overflow: hidden;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 6vw;
    background-color: rgb(240, 240, 240);
    .nav_links {
      overflow: hidden;
      position: absolute;
      right: 0px;
      height: 85vh;
      top: 25vw;
      background-color: rgb(240, 240, 240);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 0%;
      z-index: 1;
      list-style: none;
      transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
      a {
        color: black;
        position: relative;
        left: 32vw;
        text-decoration: none;
        letter-spacing: 2px;
        opacity: 0;
        font-size: 3.5vw;
        transition: opacity 1s ease-in-out, left 0.7s ease-in-out;
        &:visited {
          color: black;
        }
        &:hover {
          color: black;
        }
      }
    }
  }

  .hamburger {
    display: flex;
    height: 100%;
  }
  div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px;
  }
  nav {
    .nav_active {
      width: 40%;
    }
    li {
      .nav_links_fade {
        opacity: 1;
        position: relative;
        left: 0vw;
      }
    }
  }
}
.single-item {
  display: flex;

  padding: 5%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    img {
      width: 100%;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
}
.arrowLeft {
  width: 5%;
  margin: 1%;
  opacity: 0.5;
}
.arrowRight {
  width: 5%;
  opacity: 0.5;
  margin: 1%;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);
  padding: 3vw 0;
  div {
    display: flex;
    width: 33vw;
    justify-content: center;
    p {
      font-size: 3vw;
      margin: auto;
    }
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color: black;
      }
      &:hover {
        color: black;
      }
      &:active {
        color: black;
      }
    }
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: 5vw;
    a {
      width: fit-content;
    }
    img {
      height: 3vw;
      display: flex;
      margin: auto;
    }
  }
}
