body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  // background-color: red;
  display: grid;
  margin: auto;
  grid-template-areas:
    "apie darbai"
    "kontaktai blogas";
  div {
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      width: 9em;
      height: 9em;
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: black;
      }
      &:visited {
        color: black;
      }
      &:active {
        color: black;
      }
    }
  }
  //   background-color: black;
  border-radius: 50%;
}
.apie {
  grid-area: apie;
  justify-self: flex-end;
  position: relative;
  border-radius: 10em 0 0 0;
  .apie2 {
    display: none;
  }
}
.apie1 {
  border: 2px solid black;

  grid-area: apie;
  justify-self: flex-end;
  background-color: white;
  position: relative;
  border-radius: 10em 0.5em 0.5em 0.5em;
  &:hover {
    background-color: rgb(187, 187, 187);
    color: white;
  }
  #apie {
    transform: rotate(-45deg);
    letter-spacing: 1px;
  }
}
.portfolio {
  grid-area: darbai;
  position: relative;
  border-radius: 0 10em 0 0;
  .portfolio2 {
    display: none;
  }
  #portfolio {
    transform: rotate(45deg);
    letter-spacing: 1px;
    padding: 2em 1em;
    cursor: pointer;
  }
}
.portfolio1 {
  border: 2px solid black;
  grid-area: darbai;
  background-color: white;
  position: relative;
  border-radius: 0.5em 10em 0.5em 0.5em;
  &:hover {
    background-color: rgb(187, 187, 187);
    color: white;
  }
  #portfolio {
    transform: rotate(45deg);
    letter-spacing: 1px;
    padding: 2em 1em;
    cursor: pointer;
  }
}
.kontaktai {
  grid-area: kontaktai;
  justify-self: flex-end;
  position: relative;
  border-radius: 0 0 0 10em;
  .kontaktai2 {
    display: none;
  }
  #kontaktai {
    transform: rotate(45deg);
    letter-spacing: 2px;
  }
}
.kontaktai1 {
  grid-area: kontaktai;
  border: 2px solid black;
  justify-self: flex-end;
  background-color: white;
  position: relative;
  border-radius: 0.5em 0.5em 0.5em 10em;
  &:hover {
    background-color: rgb(187, 187, 187);
    color: white;
  }
  #kontaktai {
    transform: rotate(45deg);
    letter-spacing: 2px;
    padding: 2em 1em;
    cursor: pointer;
  }
}
.ikvepimui {
  grid-area: blogas;
  position: relative;
  border-radius: 0 0 10em 0;
  .ikvepimui2 {
    display: none;
  }
  #ikvepimui {
    transform: rotate(-45deg);
    letter-spacing: 1px;
  }
}
.ikvepimui1 {
  grid-area: blogas;
  border: 2px solid black;
  background-color: white;
  position: relative;
  border-radius: 0.5em 0.5em 10em 0.5em;
  &:hover {
    background-color: rgb(187, 187, 187);
    color: white;
  }
  #ikvepimui {
    transform: rotate(-45deg);
    letter-spacing: 1px;
    padding: 2em 1em;
    cursor: pointer;
  }
}
.logo {
  width: 80%;
  position: absolute;
  animation-duration: 3s;
  // animation-delay: 30s;
  // animation-iteration-count: 5;
  img {
    width: 100%;
    // opacity: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    width: 40%;
  }
}
