* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

html,
body {
  width: 100%;
  // overflow: hidden;
}
.logo {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: 5vw;
  a {
    width: fit-content;
  }
  img {
    height: 13vw;
    display: flex;
    margin: auto;
  }
}

.header {
  width: 100%;
  overflow: hidden;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 6vw;
    background-color: rgb(240, 240, 240);
    .nav_links {
      overflow: hidden;
      position: absolute;
      right: 0px;
      height: 85vh;
      top: 25vw;
      background-color: rgb(240, 240, 240);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 0%;
      z-index: 1;
      list-style: none;
      transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
      a {
        color: black;
        position: relative;
        left: 32vw;
        text-decoration: none;
        letter-spacing: 2px;
        opacity: 0;
        font-size: 3.5vw;
        transition: opacity 1s ease-in-out, left 0.7s ease-in-out;
        &:visited {
          color: black;
        }
        &:hover {
          color: black;
        }
      }
    }
  }

  .hamburger {
    display: flex;
    height: 100%;
  }

  nav {
    .nav_active {
      width: 40%;
    }
    li {
      .nav_links_fade {
        opacity: 1;
        position: relative;
        left: 0vw;
      }
    }
  }
}
.single-item {
  display: flex;

  padding: 5%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    img {
      width: 100%;
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
}
.arrowLeft {
  width: 5%;
  margin: 1%;
  opacity: 0.5;
}
.arrowRight {
  width: 5%;
  opacity: 0.5;
  margin: 1%;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(240, 240, 240);
  padding: 3vw 0;
  div {
    display: flex;
    width: 33vw;
    justify-content: center;
    p {
      font-size: 3vw;
      margin: auto;
    }
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color: black;
      }
      &:hover {
        color: black;
      }
      &:active {
        color: black;
      }
    }
  }
}

.dropdownContent {
  display: flex;
  flex-direction: column;
}
.dropLinks {
  font-size: 0.7em !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.dropBtn {
  display: flex;
  justify-content: center;
}
// DESKTOP LAYOUT
@media screen and (min-width: 768px) {
  body {
    width: 100%;
    overflow: auto;
  }
  .logo {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin: 4vw;
    img {
      height: 7vw;
    }
  }

  .header {
    width: 100%;
    overflow: visible;
    nav {
      min-height: 3vw;
      ul {
        margin-bottom: 0;
      }
      .nav_links {
        overflow: visible;
        position: relative;
        height: 6vh;
        top: 0vh;
        background-color: rgb(240, 240, 240);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        z-index: 1;
        list-style: none;
        li {
          padding: 0;
        }
        a {
          color: black;
          position: relative;
          left: 0;
          text-decoration: none;
          letter-spacing: 2px;
          padding: 15% 0;
          font-size: 1.5vw;
          opacity: 1;
          &:visited {
            color: black;
          }
          &:hover {
            color: black;
          }
        }
      }
    }
    .hamburger {
      display: none;
    }
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 240, 240);
    padding: 1vw 0;
    div {
      display: flex;
      width: 33vw;
      justify-content: center;
      p {
        font-size: 1vw;
        margin: auto;
      }
      a {
        color: black;
        text-decoration: none;
        &:visited {
          color: black;
        }
        &:hover {
          color: black;
        }
        &:active {
          color: black;
        }
      }
    }
  }
  //SUBMENU
  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2%;
  }
  .dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    font-size: 16px;
    position: absolute;
    top: 40px;
    background-color: rgb(240, 240, 240);
    opacity: 0;
    transition: height 0.3s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    border-radius: 8px;
    padding: 1.5%;
    a {
      padding: 10%;
    }
  }
  .dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    a {
      border-radius: 8px;
      &:hover {
        color: rgb(92, 23, 172);
        background-color: rgba(186, 229, 186, 0.288);
      }
    }
  }
}

//Galerija
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 25%;
  max-width: 25%;
  // padding: 2%;
  // border: 1px solid black;
}
.row img {
  width: 100%;
  // border: 1px solid black;
  padding: 1%;
  border-radius: 6px;
}
